#motta {
  color: aqua;
  font-size: 70px;
  text-align: right
  background-color: rgb(255, 255, 255);
  text-shadow: 3px 3px black;
}

#yo {
  color:red;
  font-size: 24px;
  text-align: center;
  background-color: yellow;
}

#p3 {
  color: green;
  font-size: 24px;
  text-align: center;
  background-color: pink 
}

#p4 {
  color: white;
  font-size: 15px;
  text-align: left;
  background-color: black
}

#p5 {
  color: blue;
  font-size: 16px;
  text-align: left;
  background-color:
}

#p6 {
  color: negro;
  font-size: 15px;
  text-align: left;
  background-color: 
}
